<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>GlobalAccountController</servlet-name>
        <servlet-class>com.weiboyi.search.web.GlobalAccountController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GlobalAccountController</servlet-name>
        <url-pattern>/global/*</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>AccountController</servlet-name>
        <servlet-class>com.weiboyi.search.web.AccountController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AccountController</servlet-name>
        <url-pattern>/account/*</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>PackController</servlet-name>
        <servlet-class>com.weiboyi.search.web.PackController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PackController</servlet-name>
        <url-pattern>/pack/*</url-pattern>
    </servlet-mapping>


    <listener>
        <listener-class>com.weiboyi.search.web.ConfigInitializer</listener-class>
    </listener>


</web-app>